﻿@page
@model WorkSummaryStrapiDemo.Pages.AddSummaryModel
@{
    ViewData["Title"] = "AddSummary";
}

<script src='https://cdn.tiny.cloud/1/x016fan6dgubn7hq910v239eujx38pc9xi2j0pyq1vnobxb7/tinymce/5/tinymce.min.js' referrerpolicy="origin">
</script>
<script>
    tinymce.init({
        selector: '#content'
    });
</script>

<div class="summary-wrapper">
    <form method="post">
        <div class="form-group summary-group">
            <label>@Model.TitleLabel</label>
            <input name="title" type="text" placeholder="@Model.TitleLabel" value="@Model.Title" />
        </div>
        <div class="form-group summary-group">
            <label>@Model.ContentLabel</label>
            <textarea id="content" name="content" type="password" placeholder="@Model.ContentLabel">@Model.Content</textarea>
        </div>
        <div class="form-group login-wrapper">
            <button type="submit" asp-page-handler="AddSummary" asp-route-summaryid="@Model.SummaryId" asp-route-userid="@Model.Auth.User" class="btn btn-primary">@Model.SubmitLabel</button>
        </div>
    </form>
</div>
