﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row right-wrapper">
        <a href="@Model.DomainBaseUrl/AddSummary?user=@Model.UserId" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            @Model.AddSummaryLabel
        </a>
    </div>
    <div class="row central-wrapper">
        @foreach(var summary in Model.Summaries)
        {
            <div class="work-summary">
                <a href="@Model.DomainBaseUrl/AddSummary?summary=@summary.Id">@summary.Title</a>
                <a href="@Model.DomainBaseUrl/AddSummary?summary=@summary.Id">
                    <i class="fas fa-pen"></i>
                </a>
            </div>
        }
    </div>
    @if (Model.ShowPagination)
    {
        var previousPageClass = Model.CurrentPage <= 0 ? "disabled" : string.Empty;
        var nextPageClass = Model.CurrentPage >= Model.TotalPages - 1 ? "disabled" : string.Empty;
        <div class="row central-wrapper">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item @previousPageClass"><a class="page-link" href="@Model.DomainBaseUrl/Index?user=@Model.UserId&currentPage=@(Model.CurrentPage-1)">@Model.PreviousPageLabel</a></li>
                    @for (var i = 0; i < Model.TotalPages; i++)
                    {
                        var active = i == Model.CurrentPage ? "active" : string.Empty;
                        <li class="page-item @active"><a class="page-link" href="@Model.DomainBaseUrl/Index?user=@Model.UserId&currentPage=@i">@(i+1)</a></li>
                    }
                    <li class="page-item @nextPageClass"><a class="page-link" href="@Model.DomainBaseUrl/Index?user=@Model.UserId&currentPage=@(Model.CurrentPage+1)">@Model.NextPageLabel</a></li>
                </ul>
            </nav>
        </div>
    }
</div>