﻿@page
@model WorkSummaryStrapiDemo.Pages.SignupModel
@{
    ViewData["Title"] = "Signup";
}

<div id="signup-wrapper" class="login-wrapper" data-domain-base="@Model.DomainBaseUrl">
    <form method="post">
        <div class="form-group">
            <label class="login-labels">@Model.UserNameLabel</label>
            <input name="username" type="text" placeholder="@Model.UserNameLabel" data-message="@Model.UserExistedLabel" />
        </div>
        <div class="form-group">
            <label class="login-labels">@Model.PasswordLabel</label>
            <input name="password" type="password" placeholder="@Model.PasswordLabel" />
        </div>
        <div class="form-group login-wrapper">
            <button type="submit" asp-page-handler="Signup" class="btn btn-primary login-button">@Model.SignupLabel</button>
        </div>
    </form>
</div>