﻿@page
@model WorkSummaryStrapiDemo.Pages.SigninModel
@{
    ViewData["Title"] = "Signin";
}

<div class="login-wrapper">
    <form method="post">
        <div class="form-group">
            <label class="login-labels">@Model.UserNameLabel</label>
            <input name="username" type="text" placeholder="@Model.UserNameLabel" />
        </div>
        <div class="form-group">
            <label class="login-labels">@Model.PasswordLabel</label>
            <input name="password" type="password" placeholder="@Model.PasswordLabel" />
        </div>
        <div class="form-check">
            <input name="remember" type="checkbox" />
            <label>@Model.RememberMeLabel</label>
        </div>
        <div class="form-group login-wrapper">
            <button type="submit" asp-page-handler="Signin" class="btn btn-primary login-button">@Model.SigninLabel</button>
            <button type="submit" asp-page-handler="Signup" class="btn btn-secondary login-button">@Model.SignupLabel</button>
        </div>
    </form>
</div>

